div.ng-searchbox-added-filter(
  #ngSearchboxAddedFilter=""
)
  template(
    [ngIf]="searchbox && searchbox.ngSearchBoxEnableFilterOperators"
  )
    ng-searchbox-filter-operators(
      [filter]="filter"
    )
  div.ng-searchbox-added-filter-contents(
    (click)="openFilter();"
  )
    span(
      class="filter-name",
      [innerText]="filter.displayName + ':'"
    )
    template(
      [ngIf]="filter && filter.selector"
    )
      span(
        class="selector-type",
        [innerText]="filter.selector.name"
      )
    template(
      [ngIf]="filter && filter.value && !filter.editing"
    )
      span(
        [innerText]="filter.value"
        class="filter-value"
      )
    template(
      [ngIf]="filter && filter.editing"
    )
      input(
        type="text",
        [(ngModel)]="v",
        (ngModelChange)="valueChange($event);",
        (keydown)="onKeyDown($event);",
        (keyup)="onKeyUp($event);"
      )
    i(
      class="fa fa-times",
      (click)="destroy();"
    )
    ng-searchbox-filter-selectors(
      [filter]="filter"
    )
